.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .title{
    margin-bottom: 2%;
}

.container .title h1{
    font-family: Montserrat-Black;
}

.container .title p{
    font-size: 21px;
}

.container .welcone span{
    font-family: Montserrat-Bold;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}

.container .welcone p{
    font-size: 28px;
}

.box-register form {
    widtH: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.container .box-register form input[type=text],
.container .box-register form input[type=email]
{
    width: 100%;
    max-width: 500px;
}

.container .box-register form input[type=password],
.container .box-register form input[type=date],
.container .box-register form select
{
    width: 100%;
    max-width: 246px;
}

.container .box-register input::placeholder{
    font-size: 14px;
    color: #999999;
  }

.container form .CadBotao{
    display: flex;
    justify-content: center;
}

.container form button{
    width: 250px;
    height: 45px;
    font-family: Montserrat-Medium;
    color: #fff;
}

.formErrors {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: #ef6565;
    border-radius: 3px;
    margin-bottom: 5px;
}

.formErrors div {
    color: rgba(0, 0, 0, 0.4);
    font-weight: 600;
    font-size: 70%;
    padding: 7px 15px;
    margin-top: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.formErrors div > svg:not(.close-error) {
    margin-right: 5px;
}

.formErrors div > svg.close-error {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.3);
    width: 15px;
    height: 15px;
    padding: 3px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}
